include LICENSE
include requirements.txt
include .travis.yml
include repack/isotopes.dat
include repack/utils/cutils.c
include demo/*
include tests/*.cfg
include tests/*.py
include tests/PF_tips_CO2.dat
