[REPACK]

# Line-transition files:
lblfiles = 1H-12C-14N__Harris.trans
           1H-13C-14N__Larner.trans

# Database type [exomol, hitran, or kurucz]:
dbtype = exomol

# Output file name (without file extension):
outfile = HCN_exomol_0.3-33um_500-3000K

# Wavenumber sampling (in cm-1):
wnmin =   303.0
wnmax = 33334.0
dwn   =     1.0

# Temperature sampling:
tmin  =  500.0
tmax  = 3000.0
dtemp =  100.0

# Line-intensity threshold for strong/weak lines:
sthresh = 0.1

# Maximum chunk size of lines to handle at a time:
chunksize = 15000000
