[REPACK]

# Line-transition files:
lblfiles = tioschwenke.bin

# Database type [exomol, hitran, or kurucz]:
dbtype = kurucz

# Partition function file:
pffile = PF_Schwenke_TiO.dat

# Output file name (without file extension):
outfile = TiO_kurucz_0.5-10um_1000-3000K_sthresh_0.01

# Wavenumber sampling (all in cm-1):
wnmin =  1000.0 
wnmax = 34000.0
dwn   =     1.0

# Temperature sampling:
tmin  = 1000.0
tmax  = 3000.0
dtemp =  100.0

# Line-intensity threshold for strong/weak lines:
sthresh = 0.01

# Maximum chunk size of lines to handle at a time:
chunksize = 5000000
ncpu = 5
